{% extends 'base.html.twig' %}

{% block title %}Main{% endblock %}

{% block content %}
<ol>
    <li>Авторы
        <ul>
            <li>Не может быть авторов с одинаковым именем</li>
            <li>Если у атора нет книг, то он будет удален.</li>
        </ul>
    </li>
    <li>Книги
        <ul>
            <li>Не может быть книг с одинаковым названием и списком авторов</li>
        </ul>
    </li>
    <li>Пользователи
        <ul>
            <li>Имя пользователя должно быть уникальным</li>
            <li>Почта должна быть уникальной</li>
            <li>User:User - пользователь по умолчанию</li>
        </ul>
    </li>
    <li>Права доступа пользователей
        <ul>
            <li>Любой пользователь может просматривать список книг и авторов.</li>
            <li>Добавление, редактирование и удаление книг и авторов можно только зарегистрированным пользователям.</li>
        </ul>
    </li>
</ol>

{% endblock %}